[submodule "installer-framework"]
	path = installer-framework
	url = git@github.com:CommitteeOfZero/installer-framework.git
	branch = coz_installer
[submodule "qt"]
	path = qt
	url = https://code.qt.io/qt/qt5.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
