<Installer>
    <Name>Impacto</Name>
    <Version>1.0.0</Version>
    <Title>Impacto Installer</Title>
    <Publisher>Committee of Zero</Publisher>
    <StartMenuDir>Committee of Zero/Impacto</StartMenuDir>
    <RemoteRepositories>
        <Repository>
            <DisplayName>Github Repository</DisplayName>
            <Url>https://raw.githubusercontent.com/CommitteeOfZero/dirac-sea/installer/updates</Url>
            <Enabled>1</Enabled>
        </Repository>
    </RemoteRepositories>
    <MaintenanceToolName>ImpactoUninstaller</MaintenanceToolName>
    <ControlScript>controller.qs</ControlScript>
    <WizardStyle>Classic</WizardStyle>
    <WizardDefaultWidth>800</WizardDefaultWidth>
    <WizardDefaultHeight>600</WizardDefaultHeight>
</Installer>